.root {
    -fx-background-color: #361b00; /* Fondo de pantalla marrón */
}

.green-button {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white; /* Texto blanco */
    -fx-border-color: transparent; /* Borde transparente */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Fuente en negrita */
    -fx-padding: 10px 20px; /* Relleno interno */
    -fx-cursor: hand; /* Cursor de mano */
    -fx-background-radius: 5px; /* Borde redondeado */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Efecto de sombra */
}

.green-button:hover {
    -fx-background-color: #66BB6A; /* Verde más claro al pasar el ratón */
}

.green-button:pressed {
    -fx-background-color: #388E3C; /* Verde más oscuro al presionar */
}

.text-field {
    -fx-background-color: #FFFFFF; /* Color de fondo blanco */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 15px; /* Borde redondeado */
    -fx-background-radius: 15px; /* Fondo redondeado */
    -fx-padding: 8px; /* Relleno interno */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-font-family: "Arial"; /* Fuente */
    -fx-text-fill: #000000; /* Color del texto */
    -fx-pref-width: 200px; /* Ancho preferido */
    -fx-pref-height: 30px; /* Altura preferida */
}

.grey-button {
    -fx-background-color: #7e7e7e; /* Verde */
    -fx-text-fill: #ffffff; /* Texto blanco */
    -fx-border-color: transparent; /* Borde transparente */
    -fx-font-size: 12px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Fuente en negrita */
    -fx-padding: 8px 10px; /* Relleno interno */
    -fx-cursor: hand; /* Cursor de mano */
    -fx-background-radius: 3px; /* Borde redondeado */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Efecto de sombra */
}

.mfx-combo-box {
    -fx-background-color: white; /* Color de fondo */
    -fx-border-color: #bcbcbc; /* Color del borde */
    -fx-border-width: 1px; /* Ancho del borde */
    -fx-border-radius: 3px; /* Borde redondeado */
    -fx-padding: 5px; /* Relleno interno */
    -fx-font-size: 14px; /* Tamaño de la fuente */
}

.mfx-combo-box .arrow-button {
    -fx-background-color: #f0f0f0; /* Color del botón de flecha */
    -fx-background-radius: 0px 3px 3px 0px; /* Borde redondeado para la flecha */
}

.mfx-combo-box:hover .arrow-button {
    -fx-background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
}

.mfx-combo-box .list-cell {
    -fx-background-color: white; /* Color de fondo de los elementos de la lista */
    -fx-font-size: 14px; /* Tamaño de la fuente de los elementos de la lista */
}

/* Estilo para la label normal */
.volver {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

/* Estilo para cuando la label es presionada */
.volver:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.5, 0.0, 0.0);
}

